In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns

In [2]:
df = pd.read_csv('ML.csv')
print('Rows and Columns:', df.shape)
df

Rows and Columns: (2340, 7)

,typeofaction,sourceid,destinationid,amountofmoney,date,isfraud,typeoffraud
0,cash-in,30105,28942,494528,2019-07-19 14:40:00,1,type1
1,cash-in,30105,8692,494528,2019-05-17 14:57:00,1,type1
2,cash-in,30105,60094,494528,2019-07-20 13:20:00,1,type1
3,cash-in,30105,20575,494528,2019-07-03 14:15:00,1,type1
4,cash-in,30105,45938,494528,2019-05-26 10:40:00,1,type1
...,...,...,...,...,...,...,...
2335,transfer,14945,43793,106907,2019-03-29 14:53:00,0,none
2336,transfer,9532,43793,106907,2019-04-13 13:19:00,0,none
2337,transfer,27332,43793,106907,2019-05-10 09:34:00,0,none
2338,transfer,32685,43793,106907,2019-07-08 12:20:00,0,none
2339,transfer,26390,43793,106907,2019-03-25 13:52:00,0,none

In [3]:
df.describe()

            sourceid  destinationid  amountofmoney      isfraud
count    2340.000000    2340.000000   2.340000e+03  2340.000000
mean    49111.255128   52257.918803   2.508583e+06     0.597863
std     29614.440603   28988.847246   2.560434e+06     0.490434
min        61.000000      53.000000   1.333200e+04     0.000000
25%     24033.000000   28046.000000   3.359140e+05     0.000000
50%     46632.500000   52748.500000   1.162354e+06     1.000000
75%     75107.000000   78030.000000   4.686559e+06     1.000000
max    100000.000000   99950.000000   7.952497e+06     1.000000

In [4]:
print('determine if value in series missing: ',df.isnull().values.any(),'''
       ''') # determine if value in series missing

print(df.isnull().sum()) # how many missing values

determine if value in series missing:  False

typeofaction     0
sourceid         0
destinationid    0
amountofmoney    0
date             0
isfraud          0
typeoffraud      0
dtype: int64

https://neo4j.com/blog/combating-money-laundering-aml-graph-algorithms/#:~:text=Neo4j%20provides%20an%20advanced%2C%20extensible,costs%20and%20protecting%20brand%20value.

* One of the best databases to fight again money laundry

In [5]:
df['date'] = pd.to_datetime(df.date)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   typeofaction   2340 non-null   object
 1   sourceid       2340 non-null   int64
 2   destinationid  2340 non-null   int64
 3   amountofmoney  2340 non-null   int64
 4   date           2340 non-null   datetime64[ns]
 5   isfraud        2340 non-null   int64
 6   typeoffraud    2340 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 128.1+ KB

In [6]:
df.to_csv('ReadyWork.csv')